<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>Io mode, Jason Grossman, 2005</string>
	<key>CFBundleIdentifier</key>
	<string>IoMode.io</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.2</string>
	<key>CFBundleName</key>
	<string>Io</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>TCMModeExtensions</key>
	<array>
		<string>io</string>
		<string>strings</string>
	</array>
</dict>
</plist>
