html 
{
	background : #fff;
	color: #000;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	padding:       0em;
    margin-bottom: 0em;
    margin-left:   0em;
    margin-right:  0em;
    margin-top:    0em;
}

a 
{
	color : #aaa;
	text-decoration : none;
}

body 
{
    font-family: 'Serif', 'Helvetica Neue', 'Helvetica', 'Sans';
    margin-left: 4em;
}

ul {
	padding: 0em 0em 0em 3.1em;
}

hr {
	width:50em;
	height:0em;
}

.Version {
    color: #bbb;
    text-align: left;
}

.indent 
{
    margin-left: 4em;
    width: 40em;
}

h1 
{
    color: #000000;
    font-family: 'Helvetica-Bold', 'Helvetica';
    font-size: 3em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.3;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 1.5em;
    text-align: left;
    text-decoration: none;
    text-indent: 0.00em;
    text-transform: none;
    vertical-align: 0.000000em;
}

h2 {
    color: #000;
    font-family: 'Helvetica', 'Helvetica';
    font-size: 1.8em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.21;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 0em;
    margin-right: 0em;
    padding-bottom: 0em;
    padding-top: 0em;
    text-align: left;
    text-decoration: none;
    text-indent: 0sem;
    text-transform: none;
    vertical-align: 0em;
}

h3 {
    color: #000;
    font-family: 'Helvetica-Bold', 'Helvetica';
    font-size: 1.3em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.18em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0em;
    margin-right: 0em;
    padding-bottom: 0em;
    padding-top: 0em;
    text-align: left;
    text-decoration: none;
    text-indent: 0.00em;
    text-transform: none;
    vertical-align: 0.000000em;
}

h4 {
    color: #666;
    font-family: 'Helvetica-Bold', 'Helvetica';
    font-size: 1.1em;
    font-style: bold;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.18em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0em;
    margin-right: 0em;
    padding-bottom: 0em;
    padding-top: 0em;
    text-align: left;
    text-decoration: none;
    text-indent: 0.00em;
    text-transform: none;
    vertical-align: 0.000000em;
}

.indexSection {
    margin-top: 1em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-align: left;
    text-indent: 0.00em;
    text-transform: none;
    vertical-align: 0.000000em;
}
.indexSection a {
    color: #000;
    font-family: 'Helvetica-Bold', 'Helvetica';
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.4em;
    text-decoration: none;
}

.indexItem {
    letter-spacing: 0;
    line-height: 1.4em;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 1.5em;
    margin-right: 0em;
    text-align: left;
    text-indent: 0.00em;
    text-transform: none;
    vertical-align: 0.000000em;
}

.indexItem a {
    color: #777;
    font-family: 'Helvetica';
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.4em;
    text-decoration: none;
}

pre {
    white-space: pre;
    color: #333;
    font-family: 'Courier', 'Courier';
    font-size: .9em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.22;

    margin-bottom: 1.5em;
    margin-left: 2em;
    margin-right: 0em;
    margin-top: 1.5em;

    text-align: left;
    text-decoration: none;
    text-indent: 0em;
    text-transform: none;
    vertical-align: 0em;
}

.quote {
    color: #777;
    font-family: 'Helvetica';
    font-size: 1em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.22;

    margin-bottom: 1.5em;
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 1.5em;

    text-align: left;
    text-decoration: none;
    text-indent: 0em;
    text-transform: none;
    vertical-align: 0em;
}


