html {
  background:   #fff;
  color:        #000;
  font-family:  'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  padding:       0em;
  margin:        0em;
}

a {
  color: #777;
  text-decoration: none;
}

body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  margin: 8px 8px 8px 4em;
  font-size:13px;
}

ul {
  padding: 0em 0em 0em 3.1em;
}

hr {
  height:0em;
}

.Version {
  color: #bbb;
  text-align: left;
}

.indent {
  margin-left: 0em;
}

h1 {
  color: #000;
  font-family: 'Helvetica-Bold', 'Helvetica';
  font-size: 3em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 1em 0 0.9em 9;
  text-align: left;
  text-decoration: none;
  text-indent: 0.00em;
  text-transform: none;
  vertical-align: 0;
  vertical-align: text-top;
}

h2 {
  color: #000;
  font-family: 'Helvetica', 'Helvetica';
  font-size: 2em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.21;
  margin: 2em 0 1em 0;
  padding: 0;
  text-decoration: none;
  text-indent: 0sem;
  text-transform: none;
	vertical-align:text-top;
}

h3 {
  color: #000;
  font-family: 'Helvetica-Bold', 'Helvetica';
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  letter-spacing: 0;
  margin-left: 0em;
  margin-right: 0em;
  text-decoration: none;
  text-indent: 0.00em;
  text-transform: none;
  vertical-align:text-top;
}

h4 {
  color: #000;
  font-family: 'Helvetica-Bold', 'Helvetica';
  font-size: 1em;
  font-style: bold;
  font-variant: normal;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.18em;
  margin: 1.5em 0 0.7em 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0.00em;
  text-transform: none;
  vertical-align: text-top;
}

td {
  vertical-align: text-top;
}

.indexItem {
  letter-spacing: 0;
  line-height: 1.4em;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0.00em;
  text-transform: none;
  vertical-align: 0;
}

.indexItemSelected a {
  letter-spacing: 0;
  line-height: 1.4em;
  margin: 0;
  text-align: left;
  text-indent: 0;
  text-transform: none;
  vertical-align: 0;
	color: black;
	font-weight: bold;
}

.indexItem a {
  color: #777;
  font-family: 'Helvetica';
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1.4em;
  text-decoration: none;
}

pre {
  white-space: pre;
  color: #333;
  font-family: 'Inconsolata', 'Courier', monspace;
  font-size: .9em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1.22;

  margin: 1.5em 0 1.5em 2em;

  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none;
  vertical-align: 0em;
}

code {
  font-family: 'Inconsolata', 'Courier', monospace;
}

.quote {
  color: #777;
  font-family: 'Helvetica';
  font-size: 1em;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1.22;

  margin: 1.5em 0;

  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none;
  vertical-align: 0em;
}

.error {
  color: red;
}

.protoDescription {
  margin: 1em 0 2.5em 0;
}

.slots {
  margin: 4em 0 0 0;
}

.slotDescription {
  margin: 1em 0 3em 2em;
}

#searchResults {
  position: absolute;
  list-style: none;
  min-width: 200px;
  padding: 2px;
  margin: 20px 0 0 0;
  text-indent: 0;
  z-index: 2;
  background: #000;
-webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
}

#searchResults li a {
  display: block;
  padding: 2px;
  color: #fff;
}

#searchResults span {
  display: inline-block;
  min-width: 8.5em;
}

#browser {
  background: rgba(255, 255, 255, 0.9);
}

#browser ol {
  list-style: none;
  text-indent: 0;
  padding: 0;
  display: block;
  width: 12em;
  float: left;
  margin: 0;
}

#browser li {
  padding: 2px 0;
}

#slots li.description {
  border-top: 3px double #ddd;
  margin: 1em 0 0 0;
  padding: 1em 0 0 0;
}

#slotDescriptions {
  margin: 6em 0 0 0;
}

span.args {
  font-weight: normal !important;
}

span.optionalArgs {
  font-style: italic;
}