*.lib
*.dll
*.manifest
*.obj
*.exp
*.ilk
._*
*.pdb
*.hi
*.o
*.so
*.dylib
*.cmd
.mod.c*
*.tmp_versions
*CVS
*RCS
*IoVMCode.c*
*Io*Init.c*
~*
*_darcs
*_build
*_ioCodeProcessed
*errors
*.bak*
*.BAK*
*.orig*
*vssver.scc*
*.swp*
*MT
*\{arch\}
*.arch-ids
*,
*.class*
*.prof*
*.DS_Store*
*.FBCLockFolder
*BitKeeper
*ChangeSet
*.svn
.cvsignore*
.gdb_history*
*Thumbs.db*
.DS_Store
.libs
.deps*
*.a
*.la
*.lo
*.so
*.dylib
*.exe
*.Po
*.Tlo
*.Plo
_objs
_includes
*_libs
*Io.*Code.c*
io2c
*Io.*Init.c*
*pngtest*
*steve.model*
*skipdbtest*
*config.log*
*config.status*
.rej*
*autom4te.cache*
*.cache
*_include
*tags*
./addons/SGML/source/libsgml/Makefile*
./addons/SGML/source/libsgml/examples/Makefile*
./addons/SGML/source/libsgml/src/Makefile*
tools/editlib_test/editlib_test
extras/IoPlayers/MSWindows/ioplayer/ioplayer.ncb
extras/IoPlayers/MSWindows/ioplayer/ioplayer.suo
extras/IoPlayers/MSWindows/ioplayer/ioplayer/Debug
extras/IoPlayers/MSWindows/ioplayer/ioplayer/Release
extras/IoPlayers/MSWindows/ioplayer/ioplayer/ioplayer.vcproj.CUSTOMER2007.Customer.user
extras/IoPlayers/MSWindows/ioplayer/pingme.txt
extras/IoPlayers/MSWindows/ioplayer/smysrv
libs/iovm/docs/docs.txt
addons/*/docs/docs.txt
*.mode1
*.pbxuser
